body {
  font-family: sans-serif;
  padding: 20px;
  background: #f7f9fc;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #4CAF50;
  color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

